@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Nunito+Sans:wght@300;600;800&family=Poppins&display=swap');
@import url(reset.css);
@import url(FM_part.css);

:root {
    /* colors */
    --clr-dark-blue: hsl(209, 23%, 22%);
    --clr-vDark-blueDM: hsl(207, 26%, 17%);
    --clr-vDark-blueLM: hsl(200, 15%, 8%);
    --clr-dark-gray: hsl(0, 0%, 52%);
    --clr-vLight-gray: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);
  

    /* fonts */
    --ff-primary: 'Nunito Sans', sans-serif;

    --fw-300: 300; /* base */
    --fw-600: 600;
    --fw-800: 800;

   
    --fs-14: 0.875rem; /* base */
    --fs-16: 1rem;  
  
}

/* typography */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-14);
    font-weight: var(--fw-300);
    background-color: var(--clr-vLight-gray);  
    display: flex;
    justify-content: center;
    align-items: start;
}

/*-Mobile layout from 37.5rem (from 600px) (250%)-*/
.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'attribution';
    gap: 4rem;
    justify-items: center;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    /*border: 2px solid green;*/
}

/* style 1st component - mobile */
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'nav';
    /*border: 2px solid green;*/
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav__title nav__container';
    padding: 1.5rem 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--clr-white);
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);
    /*border: 2px solid green;*/
}

.nav__title {
    font-weight: var(--fw-800);
    color: var(--clr-vDark-blueLM);
    justify-self: start;
    margin: 0 0 0 1rem;
    width: 100%;
    /*border: 2px solid green;*/
}

.nav__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'nav__mode';
    font-weight: var(--fw-600);
    justify-self: end;
    margin: 0 1rem 0 0;
    background-color: transparent;
    width: 75%;
    border: none;
    /*border: 2px solid green;*/
}

.nav__mode {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'ionicon mode__label';
    align-items: center;
}

.ionicon {
    justify-self: end;
    width: 1rem;
    /*border: 2px solid red;*/
}

.mode__label {
    text-align: center;
    width: 5rem;
}

/* Dark mode */
.darkMode--moon {
    stroke: #ffffff;
    stroke-width: 0;
}

.darkMode--elements {
    color: var(--clr-white) !important;
    background-color: var(--clr-dark-blue) !important;
}

.darkMode--text {
    color: var(--clr-white) !important;
}

.darkMode--background {
    background-color: var(--clr-vDark-blueDM) !important;
    color: var(--clr-white) !important;
}

.darkMode--placeholder::-webkit-input-placeholder {
    color: var(--clr-white) !important;
}

/* style 2nd component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'main__container'
        'modal';
    margin: 2rem 1rem 0 1rem;
    width: 93%;
    /*border: 2px solid green;*/
}

.main__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'sr-only'
        'search-and-filter'
        'countries-container';
    gap: 2rem;
    background-color: var(--clr-vLight-gray);
    /*border: 2px solid red;*/
}

.main__container--hide {
    display: none;
}

.sr-only {
    display: none;
}

.search-and-filter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'search'
        'filter';
    gap: 2rem;
    /*border: 2px solid green;*/
}

.search {
    justify-self: start;
    width: 95%;
    position: relative;
    /*border: 2px solid green;*/
}

.search__input {
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);
    text-indent: 2.8rem;
}

.search__input::placeholder {
    text-indent: 2.8rem;
    color: hsl(0, 0%, 52%);
}

.search__icon {
    position: absolute;
    top: 0.6rem;
    left: 1.2rem;
    color: hsl(0, 0%, 52%);
    font-size: 1.5rem;
    --ionicon-stroke-width: 3rem;
}

.darkMode--searchIcon {
    color: var(--clr-white);
}

.filter__regions {
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    width: 45%;
    color: var(--clr-vDark-blueLM);
    font-weight: var(--fw-600); 
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);   
    /*border: 2px solid green;*/
}

/*-------------------------------------------------*/
.countries-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'country';
    gap: 2rem;
    justify-self: center;
    justify-items: center;
    width: 100%;
    /*border: 2px solid green;*/
}

.country {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'flags'
        'country__title'
        'country__details';
    margin: -0.4rem 0 0 0;
    padding: 1rem;
    min-height: 10rem;
}

.allCountries {
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);  
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--clr-white);
    color: var(--clr-vDark-blueLM);
    max-height: 23rem;
}

.flags {
    /*object-fit: cover;*/
    min-height: 10rem;
    max-height: 10rem;;
    min-width: 15rem;
    max-width: 15rem;
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);
    /*border: 2px solid green;*/
}

.image__btn {
    border: none;
}

.country__title {
    justify-self: start;
    align-self: center;
    font-size: var(--fs-16);
    font-weight: var(--fw-800);
    color: var(--clr-vDark-blueLM);
    margin-bottom: 0.8rem;
    /*border: 2px solid yellow;*/
}

.country__details {
    justify-self: start;
    align-self: center;
    /*border: 2px solid yellow;*/
}

.country__population-label,
.country__region-label,
.country__capital-label {
    font-weight: var(--fw-600);
    color: var(--clr-vDark-blueLM);
}

.country__population-data,
.country__region-data,
.country__capital-data {
    color: var(--clr-vDark-blueLM);
}

/* style 3rd component - mobile */
.attribution {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    width: 80%;
    /*border: 2px solid green;*/
}

/*------------modal element---------------*/
.shadow {
    background-color: var(--clr-dark-blue);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    border: none;
}

.modal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'btn__back'
        'country-details';
    gap: 4rem;
    justify-self: center;
    width: 16rem;
    /*border: 2px solid green;*/
}

.modal--hide {
    display: none; /*check useability*/
}

.btn__back {
    justify-self: start;
    padding: 0.3rem 1.5rem;
    border: none;
    border-radius: 0.1rem;
    background-color: var(--clr-vLight-gray);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    /*border: 2px solid green;*/
}

.btn__back--title {
    margin: 0 0 0 0.5rem;
}

.hide--card {
    display: none;
}

.country-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'country-details__image'
        'primary-secondary';
    gap: 2.2rem;
    justify-self: center;
    justify-items: center;
    /*border: 2px solid green;*/
}

.country-details__image {
    /*object-fit: cover;*/
    min-height: 10rem;
    max-height: 10rem;
    min-width: 15rem;
    max-width: 15rem;
    justify-self: start;
    /*border: 2px solid green;*/
}

.primary-secondary {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'primary'
        'secondary'
        'bordering-city';
    justify-items: start;
    gap: 2rem;
    width: 15rem;
    /*border: 2px solid green;*/
}

.primary {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'primary__title'
        'primary__divider';
    gap: 0.7rem;
    /*border: 2px solid green;*/
}

.primary__title {
    font-size: var(--fs-16);
    font-weight: var(--fw-800);
    color: var(--clr-vDark-blueLM);
    /*border: 2px solid green;*/
}

.primary__divider {
    display: grid;
    gap: 0.3rem;
    /*border: 2px solid green;*/
}

.highLight {
    font-weight: var(--fw-600);
    color: var(--clr-vDark-blueLM);
    /*border: 2px solid green;*/
}

.details {
    color: var(--clr-vDark-blueLM);
    /*border: 2px solid green;*/
}

.secondary {
    display: grid;
    gap: 0.3rem;
    /*border: 2px solid green;*/
}

.bordering-city {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'bordering-content'
        'borders';
    gap: 0.7rem;
    margin: 0 0 2rem 0;
    /*border: 2px solid green;*/
}

.bordering-content .highLight {
    font-size: var(--fs-16);
}

.borders {
    margin: 0 0.4rem 0.4rem 0;
    padding: 0.2rem 1rem;
    border: none;
    font-size: 0.7rem;
    font-weight: var(--fw-600);
    background-color: var(--clr-vLight-gray);
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
    /*border: 2px solid green;*/
}

.btn {
    border-radius: 0.1rem;
}

/*-Tablet layout 48rem to 61.9375rem (768px - 991px) (175%-200%)-*/
@media screen and (min-width: 48rem) {

    /* style 1st component - desktop */
    .nav__title {
        margin: 0 0 0 3rem;
        font-size: var(--fs-16);
    }

    .nav__container {
        margin: 0 3rem 0 0;
    }

    .nav__mode {
        justify-self: end;
    }

    /* style 2nd component - desktop */
    .main {
        width: 45rem; 
        /*border: 2px solid red;*/
    }

    .search-and-filter {
        grid-template-areas:
            'search filter';
        width: 100%;
        justify-self: center;
        /*border: 2px solid green;*/
    }

    .search {
        width: 24rem;
    }

    .search__input {
        width: 100%;
    }
 
    .filter__regions {
        width: 12rem;
        /*border: 2px solid green;*/
    }

    .countries-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            'allCountries allCountires';
        gap: 2rem;
        justify-self: center;
        justify-items: center;
        max-width: 95%;
        /*border: 2px solid green;*/
    }

    .flags {
        cursor: pointer;
    }

    /* style 3rd component - desktop */
    /* 3rd component is styled in external style sheet */

   /* modal elements */
    .modal {
        justify-self: start;
        width: 100%;
        /*border: 2px solid green;*/
    }

    .country-details {
        grid-template-columns: 2fr;
        grid-template-areas:
            'country-details__image primary-secondary';
        gap: 1rem;
        width: 44rem;
        /*border: 2px solid yellow;*/
    }

    .country-details__image {
        min-height: 10rem;
        max-height: 10rem;
        min-width: 20rem;
        max-width: 20rem;
        object-fit: contain;
        align-self: start;
        justify-self: start;
        box-shadow: none;
    }

    .primary-secondary {
        grid-template-columns: 2fr;
        grid-template-areas:
            'primary secondary'
            'bordering-city bordering-city';
        gap: 1rem;
        justify-self: start;
        align-self: center;
        padding: 1.5rem 0 0 0;
        width: 23rem;
        /*border: 2px solid blue;*/
    }

    .primary__title {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .primary__divider {
        font-size: var(--fs-14);
        gap: 0rem;
        width: 10rem;
    }

    .secondary {
        font-size: var(--fs-14);
        width: 10rem;
        height: 4.3rem;
        margin: 2.8rem 0 0 0; 
        gap: 0rem;
        align-items: center;
        /*border: 2px solid green;*/
    }

    .bordering-city {
        grid-template-columns: 2fr;
        grid-template-areas:
            'bordering-content borders';
    }

    .bordering-content {
        width: 8rem;
    }

    .bordering-content .highLight {
        font-size: var(--fs-14);
    }
}

/*-Tablet/Desktop layout from 62rem to 74.9375rem (992px - 1199px) (150%)-*/
@media screen and (min-width: 62rem) {
       
    /* style 2nd component - desktop */
    .main {
        width: 55rem;     
    }    
    
    .search {
        width: 27rem;
    }
    
    .countries-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            'allCountries allCountries allCountires';
        gap: 2rem;
        justify-self: center;
        justify-items: center;
        max-width: 95%;
        /*border: 2px solid green;*/
    }

    /* modal elements */
    .country-details {
        width: 55rem;
        /*border: 2px solid yellow;*/
    }

    .country-details__image {
        min-height: 17rem;
        max-height: 17rem;
        min-width: 33rem;
        max-width: 33rem;
    }

    .primary-secondary {
        width: 21rem;
        /*border: 2px solid blue;*/
    }

    .primary__title {
        font-size: 1.5rem;
        font-weight: 900;
    }

    .primary__divider {
         width: 10rem;
    }

    .secondary {
        width: 10rem;
    }
}

/*-----Desktop layout from 75rem (from 1200px)(<=125%)----------*/
@media screen and (min-width: 75rem) {
          
    /* style 2nd component - desktop */
    .main {
        width: 67rem;
    }
       
    .search {
        width: 30rem;
    }
        
    .countries-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
            'allCountries allCountries allCountries allCountires';
        gap: 2rem;
        justify-self: center;
        justify-items: center;
        max-width: 100%;
        /*border: 2px solid green;*/
    }

    /* modal elements */
    .country-details {
        gap: 2rem;
        width: 65rem;
        /*border: 2px solid yellow;*/
    }

    .country-details__image {
        min-height: 20rem;
        max-height: 20rem;
        min-width: 35rem;
        max-width: 35rem;
    }

    .primary-secondary {
        width: 27rem;
        /*border: 2px solid blue;*/
    }

    .primary__divider {
        width: 12rem;
    }

    .secondary {
        width: 12rem;
    }
}

/*--------------------grid area names--------------------------*/
.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.nav__title {
    grid-area: nav__title;
}

.nav__container {
    grid-area: nav__container;
}

.nav__mode {
    grid-area: nav__mode; 
}

.ionicon {
    grid-area: ionicon;
}

.mode__label {
    grid-area: mode__label;
}

.main {
    grid-area: main;
}

.main__container {
    grid-area: main__container;
}

.search-and-filter {
    grid-area: search-and-filter;
}

.search {
    grid-area: search;
}

.filter {
    grid-area: filter;
}

.countries-container {
    grid-area: countries-container;
}

.country {
    grid-area: country;
}

.flags {
    grid-area: flags;
}

.country__title {
    grid-area: country__title;
}

.country__details {
    grid-area: country__details;
}

.modal {
    grid-area: modal;
}

.btn__back {
    grid-area: btn__back;
}

.attribution {
    grid-area: attribution;
}

.country-details {
    grid-area: country-details;
}

.country-details__image {
    grid-area: country-details__image;
}

.primary-secondary {
    grid-area: primary-secondary;
}

.primary {
    grid-area: primary;
}

.primary__title {
    grid-area: primary__title;
}

.primary__divider {
    grid-area: primary__divider;
}

.secondary {
    grid-area: secondary;
}

.bordering-city {
    grid-area: bordering-city;
}

.bordering-content {
    grid-area: bordering-content;
}

.borders {
    grid-area: borders;
}
