@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Nunito+Sans:wght@300;600;800&family=Poppins&display=swap');
@import url(reset.css);
@import url(FM_part.css);

:root {
    /* colors */
    --clr-dark-blue: hsl(209, 23%, 22%);
    --clr-vDark-blueDM: hsl(207, 26%, 17%);
    --clr-vDark-blueLM: hsl(200, 15%, 8%);
    --clr-dark-gray: hsl(0, 0%, 52%);
    --clr-vLight-gray: hsl(0, 0%, 98%);
    --clr-white: hsl(0, 0%, 100%);
  

    /* fonts */
    --ff-primary: 'Nunito Sans', sans-serif;

    --fw-300: 300; /* base */
    --fw-600: 600;
    --fw-800: 800;

   
    --fs-14: 0.875rem; /* base */
    --fs-16: 1rem;  
  
}

/* typography */
html {
    height: 100%;
}

body {
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-14);
    font-weight: var(--fw-300);
    background-color: var(--clr-vLight-gray);  
    display: flex;
    justify-content: center;
    align-items: start;
}

/*---------------------Mobile layout-------------------------*/

.grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header'
        'main'
        'attribution';
    gap: 4rem;
    justify-items: center;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    /*border: 2px solid green;*/
}

/* style 1st component - mobile */
.header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'nav';
    /*border: 2px solid green;*/
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav__title nav__container';
    padding: 1.5rem 0;
    position: absolute;
    left: 0;
    right: 0;
    min-width: 100%;
    background-color: var(--clr-white);
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);
    /*border: 2px solid green;*/
}

.nav__title {
    font-weight: var(--fw-800);
    color: var(--clr-vDark-blueLM);
    justify-self: start;
    margin: 0 0 0 1rem;
    width: 100%;
    /*border: 2px solid green;*/
}

.nav__container {
    font-weight: var(--fw-600);
    justify-self: end;
    text-align: right;
    margin: 0 1rem 0 0;
    background-color: transparent;
    width: 75%;
    border: none;
    /*border: 2px solid green;*/
}

.ionicon {
    width: 1rem;
    margin: 0 0.2rem 0 0;
}

/* Dark mode */
.moon--white {
    stroke: #ffffff;
    stroke-width: 0;
}

.mode__label {
    color: var(--clr-vDark-blueLM);
}

.darkMode {
    color: var(--clr-white);
}

.darkMode__elements {
    color: var(--clr-white) !important;
    background-color: var(--clr-dark-blue) !important;
}

.darkMode__background {
    background-color: var(--clr-vDark-blueDM) !important;
    color: var(--clr-white) !important;
}

.darkMode__placeholder::-webkit-input-placeholder {
    color: var(--clr-white) !important;
}

/* style 2nd component - mobile */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'search-and-filter'
        'modal'
        'countries-container';
    gap: 2rem;
    margin: 2rem 1rem 0 1rem;
    width: 94%;
    /*position: absolute;
    top: 6rem;
    left: 0;
    right: 0;*/
    background-color: var(--clr-vLight-gray);
    /*border: 2px solid red;*/
}

.search-and-filter {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'search'
        'filter';
    gap: 2rem;
    /*border: 2px solid green;*/
}

.sr-only {
    display: none;
}

.search {
    justify-self: start;
    width: 95%;
    position: relative;
    /*border: 2px solid green;*/
}

.search__input {
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    width: 100%;
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);
}

.search__input::placeholder {
    text-indent: 4rem;
    color: hsl(0, 0%, 52%);
}

.search__icon {
    position: absolute;
    top: 0.6rem;
    left: 1.5rem;
    color: hsl(0, 0%, 52%);
    font-size: 1.5rem;
    --ionicon-stroke-width: 3rem;
}

.darkMode__searchIcon {
    color: var(--clr-white);
}

.filter__regions {
    padding: 0.7rem;
    border: none;
    border-radius: 0.3rem;
    width: 45%;
    color: var(--clr-vDark-blueLM);
    font-weight: var(--fw-600); 
    box-shadow: 0 2px 6px 0px hsl(0, 0%, 90%);   
    /*border: 2px solid green;*/
}

.countries-container {
    /*border: 2px solid green;*/
    width: 100%;
}

.modal--hide {
    display: none;
}

/* style 3rd component - mobile */
.attribution {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 0;
    width: 80%;
    /*border: 2px solid green;*/
}

/*---------------------Desktop layout------------------------*/
@media screen and (min-width: 48rem) {
/*
   * {
    display: none;
   }*/

    /* style 1st component - desktop */
    .nav__title {
        margin: 0 0 0 3rem;
        font-size: var(--fs-16);
    }

    .nav__container {
        margin: 0 3rem 0 0;
    }

    /* style 2nd component - desktop */
    .search-and-filter {
        grid-template-areas:
            'search filter';
    }

    .search {
        width: 30rem;
    }

    .search__input {
        width: 100%;
    }

    .search__icon {
        left: 2rem;
    }

    .filter__regions {
        width: 12rem;
    }

    /* style 3rd component - desktop */
    /* 3rd component is styled in external style sheet */
}

/*--------------------grid area names--------------------------*/
.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.nav__title {
    grid-area: nav__title;
}

.nav__container {
    grid-area: nav__container;
}

.main {
    grid-area: main;
}

.search-and-filter {
    grid-area: search-and-filter;
}

.search {
    grid-area: search;
}

.filter {
    grid-area: filter;
}

.countries-container {
    grid-area: countries-container;
}

.modal {
    grid-area: modal;
}

.attribution {
    grid-area: attribution;
}
